.news-container {
  width: 50%;
  height: 600px;
  padding: 10px;
  float: left;
}

.news-title,
.review-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.addmore {
  font-size: 12px;
  color: #cacaca;
  background: none;
  border: none;
  cursor: pointer;
}

.news-up {
  width: 100%;
  height: 300px;
  display: flex;
}

.news-down {
  width: 100%;
  height: 300px;
  display: flex;
}

.news1,
.news2,
.news3,
.news4 {
  width: 50%;
  height: 300px;
}

.img-news1,
.img-news2,
.img-news3,
.img-news4 {
  width: 100%;
  height: 250px;
  padding: 5px;
}

.news1-tag,
.news2-tag,
.news3-tag,
.news4-tag {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-align: start;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.news1-tag:hover,
.news2-tag:hover,
.news3-tag:hover,
.news4-tag:hover {
  text-decoration: underline;
}


.review-container {
  width: 50%;
  height: 600px;
  float: right;
  padding: 10px;
}