@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: #F0F1F8; */
}

.wrap {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.page-link {
  color: #333;
  font-size: 13px;
}

.active>.page-link,
.page-link.active {
  background: #256EFF;
}

.wright_wrap {
  padding: 20px 20px 40px;
  background: #fff;
  box-shadow: 0 0 10px -3px #d0d0d0;
}

.box_title {
  font-size: 22px;
}

.wright_wrap .form_box {
  display: grid;
  gap: 20px;
  position: relative;
}

.wright_wrap .form_box .span1 {
  grid-column: span 2;
}

.sub_title {
  margin-bottom: 5px;
  font-size: 14px;
}

.jusfity-center {
  padding-top: 50px;
  justify-content: center;
}

.container.notice_container {
  height: 100%;
  background: #FFF;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 130px;
  padding-top: 80px;
  padding-bottom: 80px;
  flex: 1;
}

.ListContainer .box {
  position: relative;
  table-layout: fixed;
}

.ListContainer .box .mt-5 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.sideContainer {
  box-shadow: 0 0 10px -3px #d0d0d0;
  height: 200px;
  display: block;
  background: white;
}

.sideContainer a {
  padding: 15px 20px;
  display: block;
  font-weight: 500;
  color: #777;
  transition: all 0.5s;
}

.sideContainer a.router-link-active {
  background: #fafafa;
  font-weight: bold;
}

.ListContainer {
  width: 100%;
  position: relative;
}

.contents {
  position: absolute;
  right: 0;
  top: 0;
}

.box {
  border-top: 1px solid #e3e3e3;
  width: 100%;
  margin-top: 30px;
}

.box thead {
  background: #f8f8f8;
  height: 50px;
  font-family: 'Noto Sans KR', sans-serif;
}

.box thead th {
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
}

.box tbody tr {
  height: 50px;
  font-size: 13px;
  color: #666;
  border-bottom: 1px solid #ececec;
  transition: all 0.3s;
}

.box tbody tr td {
  padding: 5px 0px;
  line-height: 1.4;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 200;
  color: #999;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.box tbody tr td a {
  color: #000;

}

.box tbody tr td:first-child {
  padding-left: 15px;
  font-weight: 400;
  color: #333;
}

.box tbody tr td:last-child {
  padding-right: 15px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.th_name,
.th_num {
  width: 170px;
}

.th_date {
  width: 170px;
}

.mobile_notice_wrap {
  display: none;
}

.notice_top {
  padding: 20px 0;
  font-size: 14px;
  border-bottom: 1px solid #e8e8e8;
  color: #999999;
}


.content_box {
  margin-top: 20px;
  line-height: 1.4;
  padding-bottom: 40px;
  font-weight: 300;
  border-bottom: 1px solid #e8e8e8;
  max-height: 500px;
  min-height: 200px;
  overflow-y: auto;
}

textarea {
  resize: none;
  border: 1px solid #dbdbdb;
  padding: 0px 10px 0 10px;
  font-size: 13px;
  height: 40px;
  line-height: 38px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

textarea:focus {
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 10px -5px #bebebe;
}

/* input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
} */

/* .contents textarea {
  height: 250px;
  line-height: 1.5;
  padding: 12px 7px 12px 10px;
} */

.wright_wrap {
  padding-bottom: 80px;
}

.writing_btn {
  border: none;
  background: #1B1B1E;
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #1B1B1E;
}

.del_btn {
  background: #9d5353;
  border: 1px solid #9d5353;
}

.edit_btn {
  background: #3562bc;
  border: 1px solid #3562bc;
}


.in_title {
  display: grid;
  position: relative;
}

.form_box {
  margin-top: 30px;
}

.date_input {
  border: 1px solid #dbdbdb;
  padding: 0px 7px 0 70px;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.box_title {
  font-size: 22px;
  font-weight: bold;
}

.button_wrap {
  display: flex;
  gap: 15px;
  justify-self: end;
}

.notice_title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cancle_btn {
  background: #e2e2e2;
}

.notice_write {
  background: white;
  width: 100%;
  position: relative;
}

.detail_button_wrap {
  display: flex;
  gap: 15px;
  justify-content: end;
  margin-top: 30px;
}

.mobi_notice_list {
  display: grid;
}

.mobi_notice_list>li {
  padding: 13px 50px 13px 16px;
  position: relative;
  margin-bottom: 16px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.notice_date {
  color: #bebebe;
  font-weight: 300;
  font-size: 14px;
}

.notice_date {
  margin-top: 5px;
}

.right_icon {
  position: absolute;
  right: 16px;
  background: url(../../public/img/right_icon.svg) no-repeat;
  width: 25px;
  height: 25px;
  background-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.writing_done {
  background: #3562bc;
  border: 1px solid #3562bc;
}

.notice_sub_title {
  font-size: 14px;
  color: #999999;
}

.container {
  font-family: 'Poppins', sans-serif;
}