.reply-title {
  width: 100%;
  height: 30px;
  text-align: left;
}

.reply-container {
  position: relative;
  width: 800px;
  height: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.reply-container .nick-text,
.reply-container .reply-text {
  margin-top: 20px;
  display: flex;
  text-align: left;
  width: 100%;
}

.nick-text {
  font-size: 14px;
  font-weight: 600;
}

textarea {
  resize: none;
  /* width: 100%; */
  height: 45px;
  border: 1px solid #dbdbdb;
  padding: 0px 10px 0 10px;
  font-size: 13px;
  line-height: 38px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  border: none;
}

textarea:focus {
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 10px -5px #bebebe;
}

.addBtn {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  padding-right: 20px;
}

/* button { 
  float: right;
  border: none;
  background: none;
  color: #bebebe;
  margin-left: 15px;
  cursor: pointer;
} */

/* 댓글공간 */
.reply-content {
  width: 100%;
  height: 100%;
  border: 1px solid #bebebe;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;

}

.innerText {
  width: 100%;
  height: 100px;
  border: 1px solid #bebebe;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: 'Poppins', 'sans-serif'
}

.innerText .createDate {
  color: #bebebe;
}

.innercontent {
  font-family: 'Poppins', 'sans-serif'
}

.reply-content {
  text-align: left;
  margin-bottom: 5px;
}

.innerCreate {
  display: flex;
}

.icon {
  background: black;
}

.countreply {
  display: flex;
  width: 100%;
  text-align: left;
  margin-left: 5px;
}

.replyicons {
  margin-left: 10px;
}

.icons {
  font-size: 16px;
  margin-right: 5px;
}

.hearticons {
  color: red;
}

/* 수정/삭제 버튼 */
.inneredit {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}